<div class="content-wrapper">
  <!--IMPORTA COMPONENT TITULO DA PAGINA-->
  <app-titulo titulo="Relatório de de acessos de Autoridades" />
  <!--INICIO SECTION CONTENT-->
  <section class="content">
    <!--INICIO CARD -->
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Relatório de acessos de Autoridades</h3>
          <button (click)="voltar()" *ngIf="show" class="btn btn-link">
            Voltar
          </button>
        </div>
      </div>

      <div *ngIf="!show" class="card-body">
        <form [formGroup]="form" (ngSubmit)="consultar()">
          <div class="row">
            <app-input-select
              class="col-sm-3"
              formControlName="orgao_id"
              [data$]="orgaos$"
              id="orgao_id"
              label="Orgão"
            />
          </div>
          <div class="row">
            <app-input-text
              class="col-sm-3"
              formControlName="data_hora_inicio"
              label="Data Hora Início"
              id="data_hora_inicio"
              tipo="datetime-local"
            />
            <app-input-text
              class="col-sm-3"
              formControlName="data_hora_fim"
              label="Data Hora Fim"
              id="data_hora_fim"
              tipo="datetime-local"
            />
          </div>
          <div class="row">
            <button
              [disabled]="form.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Consultar
            </button>
          </div>
        </form>
      </div>

      <div *ngIf="show" class="card-body table-responsive">
        <!--INICIO TABLE-->
        <table class="table table-hover table-head-fixed text-nowrap">
          <!--INICIO THEAD-->
          <thead>
            <tr>
              <th>#</th>
              <th>Orgão</th>
              <th>Cargo</th>
              <th>Autoridade</th>
              <th>Data Hora Entrada</th>
              <th>Data Hora Saída</th>
            </tr>
          </thead>
          <!--FIM THEAD-->
          <!-- INICIO TBODY -->
          <tbody *ngIf="data$ | async as data; else loading">
            <!-- INICIO TR -->
            <tr *ngFor="let row of data">
              <td>{{ row.id }}</td>
              <td>
                <span *ngIf="row.orgao">{{ row.orgao.nome }}</span>
              </td>
              <td>{{ row.autoridade.cargo.nome }}</td>
              <td>{{ row.autoridade.nome }}</td>
              <!-- <td>
                    <span class="text-success" *ngIf="row.tipo == 1">Entrada</span>
                    <span class="text-danger" *ngIf="row.tipo == 2">Saída</span>
                  </td> -->
              <td>{{ row.data_hora_entrada | date : "dd/MM/yyyy HH:mm" }}</td>
              <td>{{ row.data_hora_saida | date : "dd/MM/yyyy HH:mm" }}</td>
            </tr>
            <!-- FIM TR -->
          </tbody>
          <!-- FIM TBODY -->
        </table>
        <!--FIM TABLE-->
        <!--INICIO NGTEMPLATE-->
        <ng-template #loading>
          <tbody class="text-center">
            <!-- INICIO TR -->
            <tr>
              <td colspan="100%">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              </td>
            </tr>
            <!-- FIM TR -->
          </tbody>
        </ng-template>
        <!--FIM NGTEMPLATE-->
      </div>
    </div>
    <!--FIM CARD-->
  </section>
  <!--FIM SECTION CONTENT-->
</div>
