<form  [formGroup]="form" (ngSubmit)="cadastrar()">
    <div class="row">
        <app-input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />
       
    </div>

    <!--inicio permissos acessos-->
    <div class="row">
        <h3>Acessos</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="acessos" formControlName="acessos">
                <label class="form-check-label" for="acessos">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="acessos_cad" formControlName="acessos_cad">
                <label class="form-check-label" for="acessos_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="acessos_edt" formControlName="acessos_edt">
                <label class="form-check-label" for="acessos_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="acessos_del" formControlName="acessos_del">
                <label class="form-check-label" for="acessos_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos acessos-->
    <!--inicio permissos eventos-->
    <div class="row">
        <h3>Eventos</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="eventos" formControlName="eventos">
                <label class="form-check-label" for="eventos">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="eventos_cad" formControlName="eventos_cad">
                <label class="form-check-label" for="eventos_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="eventos_edt" formControlName="eventos_edt">
                <label class="form-check-label" for="eventos_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="eventos_del" formControlName="eventos_del">
                <label class="form-check-label" for="eventos_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos eventos-->
     <!--inicio permissos funcionarios-->
     <div class="row">
        <h3>Funcionários</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="funcionarios" formControlName="funcionarios">
                <label class="form-check-label" for="funcionarios">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="funcionarios_cad" formControlName="funcionarios_cad">
                <label class="form-check-label" for="funcionarios_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="funcionarios_edt" formControlName="funcionarios_edt">
                <label class="form-check-label" for="funcionarios_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="funcionarios_del" formControlName="funcionarios_del">
                <label class="form-check-label" for="funcionarios_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos funcionarios-->
    <!--inicio permissos niveis-->
    <div class="row">
        <h3>Níveis</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="niveis" formControlName="niveis">
                <label class="form-check-label" for="niveis">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="niveis_cad" formControlName="niveis_cad">
                <label class="form-check-label" for="niveis_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="niveis_edt" formControlName="niveis_edt">
                <label class="form-check-label" for="niveis_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="niveis_del" formControlName="niveis_del">
                <label class="form-check-label" for="niveis_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos niveis-->
    <!--inicio permissos orgaos-->
    <div class="row">
        <h3>Orgãos</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="orgaos" formControlName="orgaos">
                <label class="form-check-label" for="orgaos">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="orgaos_cad" formControlName="orgaos_cad">
                <label class="form-check-label" for="orgaos_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="orgaos_edt" formControlName="orgaos_edt">
                <label class="form-check-label" for="orgaos_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="orgaos_del" formControlName="orgaos_del">
                <label class="form-check-label" for="orgaos_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos orgaos-->
    <!--inicio permissos pessoas-->
    <div class="row">
        <h3>Pessoas</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas" formControlName="pessoas">
                <label class="form-check-label" for="pessoas">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas_cad" formControlName="pessoas_cad">
                <label class="form-check-label" for="pessoas_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas_edt" formControlName="pessoas_edt">
                <label class="form-check-label" for="pessoas_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas_del" formControlName="pessoas_del">
                <label class="form-check-label" for="pessoas_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos pessoas-->
    <!--inicio permissos postos-->
    <div class="row">
        <h3>Postos</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="postos" formControlName="postos">
                <label class="form-check-label" for="postos">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="postos_cad" formControlName="postos_cad">
                <label class="form-check-label" for="postos_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="postos_edt" formControlName="postos_edt">
                <label class="form-check-label" for="postos_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="postos_del" formControlName="postos_del">
                <label class="form-check-label" for="postos_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos postos-->
    <!--inicio permissos setores-->
    <div class="row">
        <h3>Setores</h3>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="setores" formControlName="setores">
                <label class="form-check-label" for="setores">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="setores_cad" formControlName="setores_cad">
                <label class="form-check-label" for="setores_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="setores_edt" formControlName="setores_edt">
                <label class="form-check-label" for="setores_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="setores_del" formControlName="setores_del">
                <label class="form-check-label" for="setores_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos setores-->
    
    <hr />
    <div class="float-right">
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">
            Cancelar
        </a>
        <button [disabled]="form.invalid"  data-bs-dismiss="modal" type="submit" class="btn btn-primary ">
            Cadastrar
        </button>        
    </div>
</form>