<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Início</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Início</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!--INICIO SECTION content-->
  <section class="content">
    <!--INICIO DIV ROW-->
    <div class="row">
      <!--INICIO DIV col-sm 3 quant dia-->
      <div class="col-sm-2">
        <!--INICIO BOX QUANT DIA-->
        <div class="info-box">
          <span class="info-box-icon bg-success elevation-1"
            ><i class="fa fa-user"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">Acessos hoje</span>
            <span class="info-box-number text-center">
              <h2>{{ quantDia }}</h2>
            </span>
          </div>
        </div>
        <!--FIM BOX QUANT DIA-->
      </div>
      <!--FIM DIV col-sm 3 quant dia-->
      <!--INICIO DIV col-sm 3 acessos no mes-->
      <div class="col-sm-2">
        <!--INICIO BOX acessos no mes-->
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"
            ><i class="fa fa-calendar"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">Acessos no mês</span>
            <span class="info-box-number text-center">
              <h2>{{ quantMes }}</h2>
            </span>
          </div>
        </div>
        <!--FIM BOX acessos no mes-->
      </div>
      <!--FIM DIV col-sm 3 acessos no mes-->
    </div>
    <!--Fim DIV ROW-->

    <!--INICIO ROW CHARTS E INFOS-->
    <div class="row">
      <!--INICIO COL-SM-8 CHARTS-->
      <div class="col-sm-8">
        <!--INICIO DIV ROW INFORMACOES-->
        <div class="row">
          <!--INICIO COL SM 6 CHART ACESSOS POR MES-->
          <div class="col-sm-6">
            <!-- INICIO CARD POR MES-->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Acessos por mês</h3>
              </div>
              <div class="card-body table-responsive">
                <ngx-chartjs
                  id="chart1"
                  type="bar"
                  [data]="chartdata1"
                  [options]="chartoptions1"
                ></ngx-chartjs>
              </div>
            </div>
            <!--FIM CARD POR MES-->
          </div>
          <!--FIM COL SM 6 CHART ACESSOS POR MES-->

          <!--INICIO COL SM 6 POR DIA CHART ACESSOS POR DIA-->
          <div class="col-sm-6">
            <!-- INICIO CARD POR SETORES-->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Acessos por dia</h3>
              </div>
              <div class="card-body table-responsive">
                <ngx-chartjs
                  id="chart2"
                  type="bar"
                  [data]="chartdata2"
                  [options]="chartoptions2"
                ></ngx-chartjs>
              </div>
            </div>
            <!--FIM CARD POR SETORES-->
          </div>
          <!--FIM COL SM 6 POR DIA CHART ACESSOS POR DIA-->

          <!--INICIO COL SM 12 POR SETORES-->
          <div class="col-sm-12">
            <!-- INICIO CARD POR SETORES-->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Próximos eventos</h3>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover table-valign-middle">
                  <thead>
                    <tr>
                      <th>Evento</th>
                      <th>Setor</th>
                      <th>Data Hora</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let evento of proximosEventos">
                      <td>
                        <a [routerLink]="['/Evento', evento.id]">{{
                          evento.nome
                        }}</a>
                      </td>
                      <td>{{ evento.setor.nome }}</td>
                      <td>
                        {{ evento.data_hora | date : "dd/MM/yyyy HH:mm" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--FIM CARD POR SETORES-->
          </div>
          <!--FIM COL SM 12 POR SETORES-->
        </div>
        <!--FIM DIV ROW INFORMACOES-->
      </div>
      <!--FIM COL-SM-8 CHARTS-->
      <!--INICIO COL-SM-4 POR SETORES-->
      <div class="col-sm-4">
        <!-- INICIO CARD POR SETORES-->
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Acessos por setor no dia</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover table-valign-middle">
              <thead>
                <tr>
                  <th>Setor</th>
                  <th>Quantidade</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let setor of quantPorSetor">
                  <td>{{ setor.nome }}</td>
                  <td>{{ setor.quant }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--FIM CARD POR SETORES-->
      </div>
      <!--FIM COL-SM-4 POR SETORES-->
    </div>
    <!--FIM ROW CHARTS E INFOS-->
  </section>
  <!--FIM SECTION content-->
</div>
