<form  [formGroup]="form" (ngSubmit)="cadastrar()">
    <div class="row">
        <app-input-select
        (ngModelChange)="getEstados()"
        class="col-sm-2"
        [label]="'País'"
        [id]="'pais'"
        [data$]="paises$"
        formControlName="pais"
        [config]="config"
      />
      <app-input-select
      class="col-sm-2"
      [label]="'Estado'"
      [id]="'estado'"
      [data$]="estados$"
      formControlName="estado"
      [config]="config2"
    />
        <app-input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />
       
    </div>
    <hr />
    <div class="float-right">
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">
            Cancelar
        </a>
        <button [disabled]="form.invalid"  data-bs-dismiss="modal" type="submit" class="btn btn-primary ">
            Cadastrar
        </button>        
    </div>
</form>