<form  [formGroup]="form" (ngSubmit)="cadastrar()">
    <div class="row">
        <app-input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />
        <app-input-text class="col-sm-2" mascara="000.000.000-00" formControlName="cpf" label="CPF" id="cpf" tipo="text" />
       
        <app-input-text class="col-sm-2"  formControlName="data_nascimento" label="Data Nascimento" id="data_nascimento" tipo="date" />
        <app-input-select class="col-sm-2" formControlName="sexo" [config]="config2" [data$]="sexos$" id="sexo" label="Sexo" />
    </div>
    <div class="row">
      <app-input-text class="col-sm-4"  formControlName="mae" label="Mãe" id="mae" tipo="text" />
      <app-input-text class="col-sm-4"  formControlName="pai" label="Pai" id="pai" tipo="text" />
    </div>
    <div class="row">
        <app-input-text class="col-sm-2" mascara="(00) 0 0000-0000" formControlName="telefone1" label="Telefone 1" id="telefone1" tipo="text" />
        <app-input-text class="col-sm-2" mascara="(00) 0 0000-0000" formControlName="telefone2" label="Telefone 2" id="telefone2" tipo="text" />
        <app-input-text class="col-sm-4"  formControlName="email" label="E-mail" id="email" tipo="email" />
        <app-input-text class="col-sm-2"  formControlName="rg" label="RG" id="rg" tipo="text" />
        <app-input-select class="col-sm-2" formControlName="uf_rg" [config]="config" [data$]="estados2$" id="uf_rg" label="UF RG" />
       
    </div>   
    <div class="row" *ngIf="perfil.gestor">
      <app-input-select (ngModelChange)="getNiveis()" class="col-sm-2" formControlName="orgao" [config]="config7" [data$]="orgaos$" id="orgao" label="Orgão" />  
      <app-input-select class="col-sm-2" formControlName="nivel" [config]="config3" [data$]="niveis$" id="nivel" label="Nível" />
    </div>
    <div class="row">
  
        <app-input-select
          (ngModelChange)="getEstados()"
          class="col-sm-2"
          [label]="'País'"
          [id]="'pais'"
          [data$]="paises$"
          formControlName="pais"
          [config]="config4"
        />
    
        <app-input-select
         
          (ngModelChange)="getCidades()"
          class="col-sm-2"
          [label]="'Estado'"
          [id]="'estado'"
          [data$]="estados$"
          formControlName="estado"
          [config]="config5"
        />
    
        <app-input-select
          class="col-sm-2"
          [label]="'Cidade'"
          [id]="'cidade'"
          [data$]="cidades$"
          formControlName="cidade"
          [config]="config6"
        />

        <app-input-text
          class="col-sm-2"
          [label]="'Bairro'"
          [id]="'bairro'"
          [tipo]="'text'"
          formControlName="bairro"
        />
    
      </div>
      <div class="row">
        <app-input-text
          class="col-sm-4"
          [label]="'Rua'"
          [id]="'rua'"
          [tipo]="'text'"
          formControlName="rua"
        />
    
        <app-input-text
          class="col-sm-2"
          [label]="'Número'"
          [id]="'numero'"
          [tipo]="'text'"
          formControlName="numero"
        />
    
        <app-input-text
          class="col-sm-4"
          [label]="'Complemento'"
          [id]="'complemento'"
          [tipo]="'text'"
          formControlName="complemento"
        />
    
        <app-input-text
          class="col-sm-2"
          [label]="'CEP'"
          [id]="'cep'"
          [tipo]="'text'"
          [mascara]="'00000-000'"
          formControlName="cep"
    
        />
      </div>
    <div class="row">
        <app-input-text  class="col-sm-12"  formControlName="obs" label="Observações" id="obs" tipo="textarea" />
    </div>

    <hr />
    <div class="float-right">
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">
            Cancelar
        </a>
        <button [disabled]="form.invalid"  data-bs-dismiss="modal" type="submit" class="btn btn-primary ">
            Cadastrar
        </button>        
    </div>
</form>