<!-- INICIO CONTENT WRAPER-->
<div class="content-wrapper">
  <!--INICIO COMPONENT TITULO DA PAGINA-->
  <app-titulo titulo="Importar Pessoas" />
  <!--FIM COMPONENT TITULO DA PAGINA-->
  <!--INICIO SECTION TABLE-->
  <section class="content">
    <!--INICIO CARD -->
    <div class="card">
      <!--INICIO CARD HEADER-->
      <div class="card-header border-0">
        <div style="display: flex; justify-content: space-between">
          <h3 class="card-title">
            <button
              title="Cadastrar"
              *ngIf="!data$"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalcad"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </h3>
          <h3 class="card-title">
            <button
              title="Cadastrar"
              *ngIf="data$"
              data-bs-toggle="modal"
              data-bs-target="#modalimport"
              class="btn btn-outline-primary"
            >
              Importar
            </button>
          </h3>
        </div>
      </div>
      <!--FIM CARD HEADER-->
      <!--INICIO CARD BODY-->
      <div class="card-body table-responsive">
        <!--INICIO TABLE-->
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-hover table-head-fixed text-nowrap"
        >
          <!--INICIO THEAD-->
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Importado</th>
              <th>Observações</th>
              <th>Opções</th>
            </tr>
          </thead>
          <!--FIM THEAD-->
          <!-- INICIO TBODY -->
          <tbody *ngIf="data$; else loading">
            <!-- INICIO TR -->
            <tr *ngFor="let row of data$; let i = index" class="optionshover">
              <td>{{ i + 1 }}</td>
              <td>{{ row.NOME }}</td>
              <td>
                {{ row.CPF | mask : "000.000.000-00" }}

                <i
                  title="CPF Inválido"
                  *ngIf="row.CPF.length < 11 || !testaCPF(row.CPF)"
                  class="fa fa-exclamation-triangle text-danger"
                  aria-hidden="true"
                ></i>
              </td>
              <td>
                <span *ngIf="row.importado == true" class="text-success"
                  >Sim</span
                >
                <span *ngIf="row.importado == false" class="text-danger"
                  >Não</span
                >
              </td>
              <td>
                <span *ngIf="row.obs">
                  {{ row.obs }}
                </span>
              </td>
              <td>
                <a title="Excluir" class="options ml-2" (click)="delete(i)">
                  <i
                    class="fas fa-trash text-danger point"
                    aria-hidden="true"
                  ></i
                ></a>
              </td>
            </tr>
            <!-- FIM TR -->
          </tbody>
          <!-- FIM TBODY -->
        </table>
        <!--FIM TABLE-->
        <!--INICIO NGTEMPLATE-->
        <ng-template #loading>
          <tbody class="text-center">
            <!-- INICIO TR -->
            <tr>
              <td colspan="100%">
                <!-- <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> -->
                Selecione o arquivo que deseja importar.
              </td>
            </tr>
            <!-- FIM TR -->
          </tbody>
        </ng-template>
        <!--FIM NGTEMPLATE-->
      </div>
      <!--FIM CARD BODY-->
      <!--INICIO CARD FOOTER
        <div class="card-footer">

        </div>-->
      <!--FIM CARD FOOTER-->
    </div>
    <!--FIM CARD -->
  </section>
  <!--FIM SECTION TABLE-->

  <!--INICIO MODAL CADASTRO-->
  <div class="modal fade" id="modalcad" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cadastrar</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-formulario-importacao (refresh)="refresh($event)" />
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL CADASTRO-->

  <!--INICIO MODAL EXCLUSAO-->
  <div class="modal fade" id="modalimport" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="data$">
        <div class="modal-header">
          <h4 class="modal-title">Importar arquivo</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja importar o arquivo?</p>
        </div>
        <div class="modal-footer justify-right">
          <button
            type="button"
            class="btn btn-link text-danger"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button
            (click)="confirm()"
            data-bs-dismiss="modal"
            type="button"
            class="btn btn-success"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL EXCLUSAO-->
</div>
<!-- FIM CONTENT WRAPER-->
