<div *ngIf="evento$ | async as evento; else loading">
  <div class="page-header" style="text-align: center; margin-bottom: 10px">
    <img src="assets/cabecalho.png" class="cabecalho" />
    <br />
    <h4>
      {{ evento.nome }}
    </h4>
  </div>

  <div class="page-footer">
    <div style="margin-top: 30px;" class="row rodape2" *ngIf="user">
      <div class="col-sm-3 text-center"></div>
      <div class="col-sm-6 text-center"></div>
      <div class="col-sm-3">
        <p>
          <b>Usuário:</b> {{ user.nome }}<br />
          <b>Data:</b> {{ date | date : "dd/MM/yyyy HH:mm" }}
        </p>
      </div>
    </div>
    <img style="margin-top: 20px;" src="assets/rodape.png" class="rodape" />
  </div>

  <table style="width: 100%; min-width: 100%">
    <thead class="thead">
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space"></div>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <!--*** CONTENT GOES HERE ***
                <div class="page">PAGE 1</div>
                <div class="page">PAGE 2</div>-->
          <div class="page" >
            <div class="noprint text-center">
              <img src="assets/cabecalho.png" class="cabecalho" />
              <h4 style="margin-top: 30px">
                {{ evento.nome }}
              </h4>
            </div>

            <!--<h5 style="margin-top: 30px">
              Fortaleza - CE, {{ date | date : "dd/MM/yyyy" }}
            </h5>-->

            <div class="row mt-4">
              <!--<div class="col-sm-4">
                <strong>Nome:</strong> {{ evento.nome }}
              </div>-->
              <div class="col-sm-7">
                <strong>Setor / Orgão:</strong> {{ evento.setor.nome }} - {{ evento.setor.orgao.nome }}
              </div>
              <div class="col-sm-4">
                <strong>Data Hora:</strong> {{ evento.data_hora | date : "dd/MM/yyyy HH:mm" }}
              </div>
              <div class="col-sm-1">
                <button class="btn btn-primary noprint" (click)="print()"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
              </div>
            </div>

            <table class="table table-hover table-valign-middle mt-5">
              <thead>
                <tr>
                  <th>Foto</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Compareceu</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pessoa of evento.pessoas" class="optionshover">
                  <td>
                    <img class="img-circle" *ngIf="pessoa.foto" [src]="urlimage+pessoa.foto" height="70px"/>
                  </td>
                  <td>{{ pessoa.nome }}</td>
                  <td>{{ pessoa.cpf | mask : "000.000.000-00" }}</td>
                  <td>
                    <span *ngIf="pessoa.pivot.presente">Presente</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>

    
  </table>
</div>

<ng-template  #loading>
  <div class="text-center">
    <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
    <h2 >Evento não encontrado</h2>      
    <a routerLink="['/Inicio']">Voltar para o Início</a>
  </div>
  
</ng-template>