<div class="content-wrapper">
    <app-titulo titulo="Pessoa" />
  <!--INICIO SECTION content-->
  <section class="content" >
    <!--INICIO PROFILE -->

    <div class="row" *ngIf="pessoa$ | async as pessoa">
      <div class="col-sm-3">
        <div class="card ">
          <div class="card-body box-profile">
            <div class="text-center">
              <img
                *ngIf="!pessoa.foto"
                class="profile-user-img img-fluid img-circle"
                src="assets/casamil.png"
                alt="User profile picture"
              />
              <img
                data-bs-toggle="modal"
                data-bs-target="#modalfoto"
                style="height: 200px; width: 200px;"
                *ngIf="pessoa.foto"
                class="profile-user-img img-fluid img-circle"
                [src]="urlimage+pessoa.foto"
                alt="User profile picture"
              />

            </div>
            <h3 class="profile-username text-center">{{pessoa.nome}}</h3>
            <!--<p class="text-muted text-center">{{pessoa.cpf}}</p>-->
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>CPF</b> <a class="float-right">{{pessoa.cpf | mask: '000.000.000-000'}}</a>
              </li>
              
              <li class="list-group-item" *ngIf="pessoa.rg">
                <b>RG</b> <a class="float-right">{{pessoa.rg}} {{pessoa.uf_rg?.nome}}</a>
              </li>
              <li class="list-group-item">
                <b>Data Nascimento</b> <a class="float-right">{{pessoa.data_nascimento | date: 'dd/MM/yyyy'}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.sexo">
                <b>Sexo</b> <a class="float-right">{{pessoa.sexo.nome}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.mae">
                <b>Mãe</b> <a class="float-right">{{pessoa.mae}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.pai">
                <b>Pai</b> <a class="float-right">{{pessoa.pai}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.telefone1">
                <b>Telefone 1</b> <a class="float-right">{{pessoa.telefone1 | mask: '(00) 0 0000-0000'}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.telefone2">
                <b>Telefone 2</b> <a class="float-right">{{pessoa.telefone2 | mask: '(00) 0 0000-0000'}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.email">
                <b>E-mail</b> <a class="float-right">{{pessoa.email}}</a>
              </li>
              <li class="list-group-item" *ngIf="pessoa.rua">
                <b>Endereço</b> 
                <a class="float-right">
                    {{pessoa?.rua}} 
                    <span *ngIf="pessoa?.numero">, {{pessoa?.numero}}</span>
                    <span *ngIf="pessoa?.bairro">, {{pessoa?.bairro}}</span>
                    <span *ngIf="pessoa?.complemento">, {{pessoa?.complemento}}</span>
                    <span *ngIf="pessoa?.cidade?.nome">, {{pessoa?.cidade?.nome}}</span>
                    <span *ngIf="pessoa?.cidade?.estado?.uf"> - {{pessoa?.cidade?.estado?.uf}}</span>
                </a>
              </li>
              
            </ul>           
          </div>
        </div>

        <div class="card " *ngIf="pessoa.obs">
          <div class="card-header">
            <h3 class="card-title">Observações</h3>
          </div>

          <div class="card-body">
            
            <p class="text-muted text-justify" [innerHTML]="pessoa.obs">
             
            </p>
            
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Últimos acessos</h3>     
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover table-valign-middle">
                <thead>
                  <tr>
                    <th>Orgão</th>
                    <th>Setor</th>
                    <th>Observação</th>
                    <th>Posto</th>
                    <th>Data Hora</th>
                    
                    <th>Verificação</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let acesso of pessoa?.acessos">                  
                    <td>{{acesso.setor.orgao.nome}}</td>       
                    <td>{{acesso.setor.nome}}</td>  
                    <td>{{acesso.obs}}</td>   
                    <td>{{acesso.posto.nome}}</td>   
                    <td>{{acesso.data_hora | date: 'dd/MM/yyyy HH:mm:ss'}}</td>   
                    <td>{{acesso.createdby.nome}}</td>                                   
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>


        <!--INICIO MODAL CADASTRO-->
        <div class="modal fade" id="modalfoto" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Foto</h4>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body text-center">
                <img
                data-bs-toggle="modal"
                data-bs-target="#modalfoto"
                style="height: 600px; width: 600px;"
                *ngIf="pessoa.foto"
                class="profile-user-img img-fluid img-circle"
                [src]="urlimage+pessoa.foto"
                alt="User profile picture"
              />
              </div>         
            </div>
          </div>
        </div>
        <!--FIM MODAL CADASTRO-->
    </div>

    <!--FIM PROFILE-->
  </section>
  <!--FIM SECTION content-->
</div>
