<form [formGroup]="form" (ngSubmit)="cadastrar()">
  <div class="row">
    <app-input-text
      class="col-sm-4"
      formControlName="nome"
      label="Nome"
      id="nome"
      tipo="text"
    />
  </div>
  <hr />
  <div class="float-right">
    <a
      (click)="form.reset()"
      data-bs-dismiss="modal"
      class="btn btn-link text-danger"
    >
      Cancelar
    </a>
    <button
      [disabled]="form.invalid"
      data-bs-dismiss="modal"
      type="submit"
      class="btn btn-primary"
    >
      Cadastrar
    </button>
  </div>
</form>
