<!-- INICIO CONTENT WRAPER-->
<div class="content-wrapper">
  <!--INICIO COMPONENT TITULO DA PAGINA-->
  <app-titulo titulo="Reconhecimento de Pessoas" />
  <!--FIM COMPONENT TITULO DA PAGINA-->
  <!--INICIO SECTION TABLE-->
  <section class="content">
    <!--INICIO CARD -->
    <div class="card">
      <div class="card-header text-center" *ngIf="loading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
      <!--INICIO CARD HEADER-->
      <div class="card-header border-0" *ngIf="!loading">
        <div style="display: flex; justify-content: space-between">
          <input
            [(ngModel)]="file"
            type="file"
            class="form-control col-sm-10"
            id="file"
            accept=".jpg, .jpeg, .png, .webp"
            (change)="uploadData($event)"
          />
          <input
            [(ngModel)]="score"
            type="number"
            max="1"
            min="0"
            step=".1"
            class="form-control col-sm-02"
            id="score"
            (change)="detectFaces()"
          />
        </div>
      </div>
      <!--FIM CARD HEADER-->
      <!--INICIO CARD BODY-->

      <div class="card-body row">
        <div class="col-sm-4 text-center" *ngIf="loading2">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="col-sm-4" *ngIf="!loading2">
          <ul *ngIf="result">
            <li *ngFor="let pessoa of result">
              {{ pessoa[0].label }}
              <img *ngIf="pessoa[1]" height="50" [src]="pessoa[1]" />
            </li>
          </ul>
        </div>
        <div class="text-center col-sm-8" style="position: relative">
          <img
            #imageRec
            *ngIf="imageSrc"
            [src]="imageSrc"
            style="height: 400px"
          />
          <canvas #canvas></canvas>
        </div>
      </div>
      <!--FIM CARD BODY-->
      <!--INICIO CARD FOOTER
          <div class="card-footer">
  
          </div>-->
      <!--FIM CARD FOOTER-->
    </div>
    <!--FIM CARD -->
  </section>
  <!--FIM SECTION TABLE-->
</div>
<!-- FIM CONTENT WRAPER-->
